# Dependencies
node_modules
npm-debug.log*

# Next.js build output
.next
out

# Environment files
.env
.env.local
.env.*.local

# Version control
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage
e2e
playwright-report
test-results

# Docker
docker-compose.yml
Dockerfile

# Docs
README.md
*.md
